* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(2, 29, 36);
  --text: white;
}
body {
  background-color: var(--bg-color);
  color: var(--text);
  font-family: Poppins, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:70vw;
    background-color: rgba(73, 74, 75, 0.35);
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    padding: 50px;
    border-radius: 15px;
    align-items: center;
}
.heading{
    text-transform: uppercase;
}

.container>label{
    margin-top: 20px;
    width: 300px;
    position: relative;
}
.input{
    width: 300px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
   width:250px;
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(220, 223, 226,0.5);
    border: none;
    color: var(--text);
    cursor:pointer;
   
}
input:focus{
    outline: none;
   
}
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 30px;
  
  }
button{
    height: 40px;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(108, 182, 252);
    border:none;
    color: var(--text);


}
h3{
  display: inline-flex;
  margin-bottom: 20px;
   color:rgb(241, 238, 7);
}
#resultContainer{
    margin-top: 20px;
    background-color: rgba(190, 190, 190,0.2);
    padding:50px;
    display:flex;
    flex-direction: column;
    
}
table, th, td{
    border: 2px solid orangered;
    border-collapse: collapse;

}
td{
    padding-left:10px;
}
table{
    margin-top: 30px;
}

 

@media screen and (min-width:300px) and (max-width:719px){
   .main{
    width: 100vw;
       
   } 
   #resultContainer{
    width: 99vw;
    padding: 1px;
   }
   .container{
    width: 90vw;
   }
  .heading{
    width: 100%;
    font-size: 16px;
  }
  .table{
    width: 300px;
  
   }
   
}